/* 
	Resets defualt browser settings
	reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page Style
*/
body { 
	/*font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;*/
	font:normal 12px Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	/*background:#efefef url(../images/background.png) repeat top center; */
/*	background:url(../images/background.png) repeat top center; */
	padding:20px 0;
	position:relative;
	/*text-shadow:0 1px 0 rgba(255,255,255,.8);*/
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width:680px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#frame {
	position:absolute;
	z-index:0;
	width:800px;
	height:400px;
	top:-3px;
	left:-80px;
}

#example {
	width:640px;
	height:400px;
	position:relative;
}

/*
	Slideshow style
*/

#slides {
	position:absolute;
	top:15px;
	left:-12px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container {
	width:670px;
	height:350px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides .slide {
	padding:20px;
	width:530px;
	height:250px;
	display:block;
}

/*
	Next/prev buttons
*/
#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:640px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 2px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer{
	margin:4.5px 0;
	font-size:11px;
}

/*
	Type and anchors
*/

a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}

h1 {
	font-size:2em;
}

p {
	font-size:1.3em;
}

#slides .link {
	display:block;
	margin-top:10px;
	font-weight:800;
}

#portals{
 margin-bottom:50px;
}

/*
#portals{
margin-bottom:100px;
 border:1px solid #aaa;
 border-radius:5px;
 width:100px;
 padding: 3px;
 font-size:12px;
}

#portals a {
  color:#000;
}

#portals a:hover{
 text-decoration:none;
}
*/

#slideToggle{
 border:1px solid #aaa;
 border-radius:5px;
 width:100px;
 padding: 3px;
 font-size:12px;
 margin:30px auto 0px auto; 
 cursor:pointer;
}

